# Azure SQL Connection String
# Example: Driver={ODBC Driver 18 for SQL Server};Server=tcp:yourserver.database.windows.net,1433;Database=yourdb;Uid=yourusername;Pwd=yourpassword;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;
AZURE_SQL_CONNECTIONSTRING="Driver={ODBC Driver 17 for SQL Server};Server=tcp:omborxona-server.database.windows.net,1433;Database=omborxona-db;Uid=cloudadmin;Pwd=YourPassword123!;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
